/* General Styles */

body {
    background-image: url('https://cdn.wallpapersafari.com/96/39/54bTiI.jpg');
    /*filter: blur(8px);*/
    backdrop-filter: blur(8px);
    background-size: cover;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
}

h1 {
    color : rgb(255, 255, 255);
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 70%;
    margin: 30px;
    background-color: hsla(0, 0%, 0%, 0.4);
    border-radius: 30px;
}

.navegacion {
    text-align: center;
}

.header {
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    margin: 20px;
}

.subheader {
    text-align: center;
    font-style: italic;
    color: rgb(255, 255, 255);
}

.links {
    color: rgb(255, 255, 255);
    font-style: italic;
    border-radius: 32px;
    border: 3px solid rgb(255, 255, 255);
    padding: 12px;
    margin: 16px;
    text-decoration: none;

}